@font-face {
  font-family: "gilroy";
  src: url(../../fonts/Gilroy-ExtraBold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "gilroy";
  src: url(../../fonts/Gilroy-Light.otf);
  font-style: normal;
  font-weight: 300;
}
