.footer {
  &__top {
    display: flex;
    justify-content: space-between;
    & > * {
      width: 25%;
    }
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 5rem;
    padding: 5rem 0;
    align-items: center;
    &-left {
      flex: 0 0 30%;
      p {
        font-weight: 300;
      }
    }
    h4 {
      text-align: left;
      margin-bottom: 3rem;
    }
  }
  &__bottom {
    background-color: $color-secondary;
    padding: 2rem 0;
    @include clearfix;
    &-left {
      font-weight: 300;
      float: left;
    }
    &-right {
      float: right;
      a {
        color: $color-white;
        text-decoration: none;
        display: inline-block;
        margin-left: 5rem;
      }
    }
    .row {
      //   display: flex;
      //   justify-content: space-between;
      color: $color-white;
    }
  }
}
.footer__main-nav {
  ul {
    list-style: none;
    li {
      display: block;
      a {
        color: $color-secondary;
        font-weight: 300;
        display: inline-block;
        margin-bottom: 1rem;
        text-decoration: none;
      }
    }
  }
}
