.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s;
  &--primary {
    padding: 0.7rem 2rem;
    color: $color-white;
    background-color: $color-primary;
    &:hover {
      background-color: darken($color: $color-primary, $amount: 15%);
    }
    &-dark {
      font-size: 3.1rem;
      background-color: $color-primary-dark;
      font-weight: 700;
      &:hover {
        background-color: darken($color: $color-primary-dark, $amount: 10%);
      }
    }
    &-light {
      font-size: $default-font-size;
      width: 30%;
      margin: 0 auto;
      display: block;
      text-align: center;
      padding: 1rem 2rem;
      background-color: rgba($color-primary, 0.3);
      transition: background-color 0.3s;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
  &--learn {
    padding-left: 0;
    font-weight: 700;
    color: $color-dark;
    font-size: 2.5rem;
  }
  &--close {
    font-size: 6rem;
    font-weight: 400;
    text-decoration: none;
    color: $color-primary;
  }
  &--back {
    text-decoration: none;
    color: $color-primary;
    font-weight: 700;
    i {
      margin-right: 1rem;
      font-size: 2.5rem;
      display: inline-block;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(tab-port) {
    width: 97%;
  }
  @include respond(phone) {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $color-secondary;
    font-weight: 700;
    font-size: 2rem;
    padding: 1.1rem 2rem;
    background-color: #f1f1f1;
    border-radius: 7px;
    width: 10%;
    text-align: center;
    @include respond(tab-port) {
      padding: 1.1rem 2rem;
      font-size: 1.7rem;
    }
    @include respond(phone) {
      display: inline-block;
      width: 19%;
      margin: 1.5rem;
    }
    @media (max-width: 560px) {
      width: 18%;
      margin: 1rem;
    }
    &.active {
      background-color: rgba($color: $color-primary, $alpha: 0.3);
    }
  }
}
