.features {
  padding-top: 10rem;
  margin-bottom: 6rem;

  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
}
.feature {
  box-shadow: 5px 10px 20px rgba($color: #000000, $alpha: 0.07);
  // border: 1px solid black;
  width: 22%;
  height: 30rem;
  border-radius: 3px;
  padding: 2rem 4rem;
  margin: 0 1.5rem;
  margin-bottom: 10rem;

  transition: all 0.3s;
  &__icon {
    width: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
  }
  &__text {
    font-size: 1.6rem;
    font-weight: 300;
  }
  // &.inactive {
  //   height: 0;
  //   width: 0;
  //   opacity: 0;
  //   visibility: hidden;
  // }
  // &.active {
  //   width: 22%;
  //   height: 30rem;
  //   opacity: 1;
  //   visibility: visible;
  // }
}
