.single-heading {
  width: 100%;
  display: flex;

  @include respond(tab-port) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;

    .heading-3 {
      margin-bottom: auto;
      @include respond(phone) {
        line-height: 1.3;
        font-size: 4rem;
      }
    }
    @include respond(tab-port) {
      height: 55vh;
      margin-bottom: 3rem;
    }
  }
  &__image {
    flex: 0 0 50%;
    height: 40rem;
    @include respond(tab-port) {
      height: 45vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}
