.slider {
  display: flex;
  align-items: center;
  &__img {
    flex: 0 0 50%;
    img {
      width: 42vw;
      height: 40vw;
    }
  }
  &__text {
    margin-left: 10rem;
    flex: 1;
    position: relative;
    &::before {
      content: "1";
      position: absolute;
      left: -14%;
      top: -45%;
      font-size: 35rem;
      z-index: -1;
      color: rgba($color: $color-primary, $alpha: 0.3);
      font-weight: 700;
    }
  }
}
