.main-nav {
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  &__left {
    display: flex;
    align-items: center;
    margin-right: auto;
    list-style: none;
    li {
      &:not(:first-child) {
        margin-left: 2.5rem;
      }
      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      &:not(:first-child) {
        margin-left: 2.5rem;
      }
      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
}
